@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: 'Open Sans', 'sans-serif';
}

input[type = "text"], input[type = "password"], input[type = "date"] {
    border: none;
    border-radius: 10px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    background: cornsilk;
    color: black;
    width: 170px;
    font-weight: 300;
    font-size: 100%;
    text-align: center;
}

input[type = "submit"] {
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    color: #ffffff;
    font-size: 100%;
    background: #f44336;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: none;
    width: 125px;
}

input[type = "submit"]:hover {
    background: #000;
    text-decoration: none;
}

.login_label {
    margin-right: 20px;
    font-size: 100%;
    font-weight: 600;
    font-style: italic;
}

.w3-table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border: none;
}
.w3-table-all td,.w3-table-all th{
    padding: 8px 8px;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}
.w3-table-all th:first-child,.w3-table-all td:first-child{
    padding-left:16px
}
.w3-table-all tr:nth-child(odd){
    background-color:#fff
}
.w3-table-all tr:nth-child(even){
    background-color:#f1f1f1
}
.w3-red {
    color:#fff !important;
    background-color:#f44336 !important;
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.adminBody, .userBody {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}


.adminBody {
    background-image: url('/resources/graphics/nature.gif');
}

.userBody {
    background-image: url('/resources/graphics/sky.gif');
}

.centerAlignDiv {
    background: rgba(170, 170, 170, 0.35);
    padding: 10px 10px 50px 10px;
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 500px;
 }

.centerAlignDiv h2 {
    font-size: 200%;
    font-style: italic;
    font-weight: 600;
    color: #f44336;
}

#dvdForm label {
    color: #f44336;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    width: 20%;
}

#dvdForm div {
    margin: 10px 0px;
}

#dvdForm input[type = "text"] {
    width:77%;
}

#dvdForm input[type = "submit"] {
    width: 100%;
}

#dvdForm span {
    text-align: center;
}

#dvdForm #statusDiv {
    text-align: center;
    margin-bottom: 0px;
    color: #f44336;
    font-style: italic;
    font-size: 20px;
}

#dvdFormTitle {
    text-align: center;
}

